$palettes: (
  blue: (
    extra-dark: hsl(201, 75%, 22%),
    darker: hsl(201, 61%, 34%),
    dark: hsl(198, 57%, 39%),
    base: hsl(196, 59%, 42%),
    light: hsl(194, 56%, 51%),
    lighter: hsl(192, 61%, 53%),
    extra-light: hsl(192, 100%, 74%),
  ),
  red: (
    extra-dark: hsl(0, 84%, 12%),
    darker: hsl(0, 74%, 18%),
    dark: hsl(0, 70%, 37%),
    base: hsl(0, 100%, 58%),
    light: hsl(0, 72%, 63%),
    lighter: hsl(0, 100%, 73%),
    extra-light: hsl(0, 90%, 81%),
  ),
  green: (
    extra-dark: hsl(115, 44%, 10%),
    darker: hsl(115, 36%, 20%),
    dark: hsl(115, 33%, 26%),
    base: hsl(115, 31%, 38%),
    light: hsl(115, 34%, 51%),
    lighter: hsl(115, 45%, 61%),
    extra-light: hsl(115, 91%, 77%),
  ),
);

@function palette-color($color, $tone) {
  @warn map-get($palettes,$color);

  @if map-has-key($palettes, $color) {
    $color: map-get($palettes, $color);

    @if map-has-key($color, $tone) {
      $tone: map-get($color, $tone);
      @return $tone;
    }

    @warn "unknown tone `#{$tone}` in color";
    @return null;
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}

$tones: "extra-dark" "darker" "dark" "base" "light" "lighter" "extra-light";

@mixin create-palette-classes($color) {
  @each $tone in $tones {
    .#{$color}-#{$tone} {
      background: palette-color($color, $tone);
    }
  }
}
